<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="/tmp/internal-nlog.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets async="false">
        <target
            name="file"
            xsi:type="File"
            layout="${longdate}|${callsite}|${threadid}-${sequenceid}|${pad:padding=5:inner=${level:uppercase=true}}|${message}${onexception:${newline}${newline}Exception\: ${exception:format=ToString}${newline}${newline}Stack Trace\: ${exception:format=StackTrace}${newline}}"
            fileName="${basedir}/Logs/Current.log"
            archiveFileName="${basedir}/Logs/{#}.log"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="180"
            encoding="utf-8"
            concurrentWrites="true"
            concurrentWriteAttempts="10"
            concurrentWriteAttemptDelay="100"
            lineEnding="CRLF" />

        <target
            name="fatal"
            xsi:type="File"
            layout="####################################### FATAL EXCEPTION #######################################${newline}${longdate}|${callsite}|${pad:padding=5:inner=${level:uppercase=true}}|${message}${onexception:${newline}${newline}Exception\: ${exception:format=ToString}${newline}${newline}Stack Trace\: ${exception:format=StackTrace}${newline}}######################################### END OF FATAL #########################################${newline}"
            fileName="${basedir}/Logs/Current.log"
            archiveFileName="${basedir}/Logs/{#}.log"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="180"
            encoding="utf-8"
            concurrentWrites="true"
            concurrentWriteAttempts="10"
            concurrentWriteAttemptDelay="100"
            lineEnding="CRLF" />

        <target
            name="raw"
            xsi:type="File"
            layout="${message}"
            fileName="${basedir}/Logs/Current.log"
            archiveFileName="${basedir}/Logs/{#}.log"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="180"
            encoding="utf-8"
            concurrentWrites="true"
            concurrentWriteAttempts="10"
            concurrentWriteAttemptDelay="100"
            lineEnding="CRLF" />
    </targets>
    <rules>
        <logger name="raw" minlevel="Trace" maxlevel="Fatal" writeTo="raw" final="true" />
        <logger name="*" level="Fatal" writeTo="fatal" final="true" />
        <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="file" />
    </rules>
</nlog>